@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Roboto", sans-serif;
  padding: 32px;
}

button {
  font-family: inherit;
  padding: 8px 16px;
  margin: 32px 0;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: lightgreen;
}
button + button {
  margin-left: 16px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid grey;
  padding: 4px 0;
}
li:last-child {
  border-bottom: none;
}
li:nth-child(2n) {
  background-color: rgba(144, 238, 144, 0.2);
}

li span {
  display: block;
}

h1 {
  margin-bottom: 8px;
}
